
/*Top Heading*/ 
.header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    min-height: 56px;
}

.inhead{
    width:100%;
    margin-left: 25%;
    margin-right: 25%;
}

ul{
    list-style: none;
}

.head_text{

  font-weight: 100;
    font-size: 3em;
    margin: 0.5em 0.25em;
    display: inline-block;
    color: #212121;
}
.head_image{
    height: 72px;
    margin-right: 1em;
    vertical-align: top;
    margin-top: 12px;
}
/*Navigation */
.navig{
    height: 60px;
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    border-spacing: auto;
    margin-bottom: 20px;
}

.nav_item{
   
    font-weight: 200;
    font-size: .8em;
}
.navig h3{
    padding: 20px;
    margin-left: 55px;
    margin-right: 55px ;
    color:grey;
}


main {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.26);
    margin-left: 25%;
    margin-right: 25%;
}

.art{

    float: left;
    width: 45%;
    position: relative;
    background-image: url("./images/dog.jpg");
    background-size: cover;
    height: 300px;
}
.cont{
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    color: #fff;
    padding-left: 0.5em;
}
.cont p{
    font-size: 80%;
}


.lst{
    padding-left: 5px;
    padding: 5px;
}
.lst h3{

    margin-left: 5px;
    color: gray;
    font-weight: 100;
}
